:root
{
   background-color: rgb(50,29,112);
   color: white;
}
img
{
   display: block;
   margin: auto;
}
h1
{
   font-size: 45px;
   color: white;
   text-align: center;
}
h2, h3, h4, h5, h6, h7
{
   color: white;
}
a
{ 
   color: white;
}
