:root
{
   background-color: rgb(210, 196, 245);
   color: rgb(33, 13, 84);
}
img
{
   display: block;
   margin: auto;
   border: solid rgb(143, 11, 130);
}
h1
{
   font-size: 45px;
   color: rgb(33, 13, 84);
   text-align: center;
}
h2, h3, h4, h5, h6, h7
{
   color: rgb(33, 13, 84);
   text-align: center;
}
a
{ 
   color: rgb(23, 13, 163);
   text-align: center;
}
li
{ 
   color: rgb(143, 11, 130);
   text-align: center;
}

td, th
{
    border: 3px solid rgb(206,124,153);
                padding: 15px;
}
table
{
   border-collapse: collapse;
   background-color: white
}
 th
{
   background-color: rgb(210,190,250);
   font-size: 18px;
}
